<%-include("partials/header")-%>

<h1><%=obj.item%></h1>
<p><%=obj.image%></p>
<p><%=obj.message%></p>
<p><%=obj.name%></p>
<p><%=obj.email%></p>
<p><%=obj.number%></p>


<%-include("partials/footer")-%>